@*Homepage page*@

@using HowsGoingCore.Controllers;
@using HowsGoingCore.Models;
@using Microsoft.AspNetCore.Mvc;
@using System.Data;
@using System.Diagnostics;


<head>
    @*Stylesheet import*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>


<div class="mainContent">
    <h3 style="padding-top: 4%">
        This is what is going on lately:
    </h3>

    <div style="padding: 10%">
        @*Table with posts*@
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Message</th>
                    <th scope="col">Satisfaction</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>

            @*loading records from ViewBag*@
            <tbody>
                @foreach (var record in ViewBag.recordsList)
                {
                    <tr>
                        <td>@record.RecordContent</td>
                        <td>@record.Satisfaction</td>
                        <td>@record.UserID</td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>
