@using HowsGoingCore.Models;
@using Microsoft.AspNetCore.Mvc;
@using System.Data;
@using System.Diagnostics;
@using System.Web;
@using Microsoft.AspNetCore.Http

<div class="mainContent">
    <h2>Welcome, @Context.Session.GetString("LoggedUser") !</h2>
    <div style="padding: 25px">
        Howsgoing is a project created by me to help you express yourself about anything you like! <br />
        Hope to see you around :-)
        <div style="display: flex; justify-content: flex-end">
            <img style="margin: 10%" src="~/howscat.png" />
        </div>
    </div>
</div>