@*Login page*@

<head>
    @*Stylesheet import*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>


<div class="mainContent">

    @*Login Form*@
    <h3 style="align-content:center">Login</h3>
    <br />
    <form asp-action="LoginExecution" asp-controller="Home" method="post" class="pure-form">
        <label for="loginUsername">Username</label>
        <input type="text" id="loginUsername" name="loginUsername" />
        &nbsp;&nbsp;
        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" name="loginPassword" />
        <br /><br />
        <input type="submit" value="Login" class="btn btn-primary">

        &nbsp;&nbsp;
        @*Register page anchor*@
        <button type="button" class="btn btn-primary">
            <a class="whiteLink "asp-area="" asp-controller="Home" asp-action="Register"> Haven't got an account? Register now! >_></a>
        </button>
    </form>



  

    

    @*Error divs*@
    @if (ViewBag.loginFailed != null)
    {
        <div style="color: red">Login credentials are not correct.</div>
    }

</div>