@*Page used to post content*@

<head>
    @*Stylesheet import*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>

@*Post form*@
<form asp-action="PostRecord" asp-controller="Home" method="post" class="pure-form">
    @*Post message*@
    <label for="message">Heyja! HowsGoing today? :-)</label>
    <input style="height:100px;width:400px;" type="text" id="message" name="message" />
    <br />

    @*Post satisfaction*@
    <label for="satisfaction">Rate your satisfaction from 1 to 5!</label>
    <input type="range" id="satisfaction" name="satisfaction" min="1" max="5" />
    <br />
    <input type="submit" value="Submit" class="pure-button pure-button-primary">
</form>

@*Feedback divs*@
@if (ViewBag.recordAdded != null)
{
    <div style="color: green">Your record was inserted successfully! ^_^</div>
}