html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: blink;
}



.mainContent {
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10%;
}

.whiteLink {
    color: white; 
    text-decoration: none; 
}

    .whiteLink:hover {
        color: white;
    }



.personalizedFooter {
    background-color: #f5f5f5;
    padding: 1%;
}

.postStructure {
    margin: 7%;
}

.bgSatisfaction1 {
    background-color: #FF9E96;
}

.bgSatisfaction2 {
    background-color: #FFAC96;
}

.bgSatisfaction3 {
    background-color: #E9FF96;
}

.bgSatisfaction4 {
    background-color: #96FFE6;
}

.bgSatisfaction5 {
    background-color: #9CFF96;
}

.homepageImgLink{
    margin-bottom:10%;
    padding: 5%;
}

